{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Daily Grind API",
    "description": "A simple API to manage your caffeine addiction.",
    "contact": {
      "name": "Roaster Support",
      "email": "support@dailygrind.io"
    }
  },
  "host": "api.dailygrind.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/drinks": {
      "get": {
        "summary": "List all available drinks",
        "operationId": "listDrinks",
        "responses": {
          "200": {
            "description": "A list of coffee drinks",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Drink"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new drink to the menu",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Drink object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Drink created successfully"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/drinks/{drinkId}": {
      "get": {
        "summary": "Find drink by ID",
        "parameters": [
          {
            "name": "drinkId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Drink"
            }
          },
          "404": {
            "description": "Drink not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Drink": {
      "type": "object",
      "required": [
        "name",
        "size"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "example": "Vanilla Latte"
        },
        "size": {
          "type": "string",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ]
        },
        "caffeineLevel": {
          "type": "integer",
          "description": "Milligrams of caffeine",
          "example": 150
        }
      }
    }
  }
}